.container{
    border: 2px solid black;
}

.row{
    border: 2px solid red;
    height: 400px;
}

.pink{
    background-color: pink;
}

.orange{
    background-color: orange;
}

.magenta{
    background-color: magenta;
}

.yellow{
    background-color: yellow;
}